a[href="https://www.google.es/"] {
  color: #008080;
}
a[href="https://www.radiogorbea.com/"] {
  color: #FF8C00;
}
a[href="https://www.w3schools.com/"] {
  color: #9932CC;
}
a[href="https://www.noticiasdealava.eus/alaves/"] {
  color: #FF1493;
}
a[href="https://www.amazon.es/"] {
  color: #1E90FF;
}

a:hover{
  background-color: #FFF0F5;
  border: 3px solid black;
}
 a:visited{
   background-color: #7FFFD4;
   color: red;
 }
